$bg_base: #fff;

$font_read: 'Open Sans', sans-serif;
$font_title: 'Poppins', sans-serif;

$cl_primary: hsl(322, 100%, 66%);
$cl_pink: hsl(321, 100%, 78%);
$cl_red: hsl(321, 100%, 78%);
$cl_blue: hsl(207, 100%, 98%);
$cl_white: hsl(0, 0%, 100%);
$cl_black: hsl(192, 100%, 9%);

// break point
$smallphone: 390px;
$mntablet: 768px; 
$mdtablet: 990px; 
$desktop: 1024px;
$desktopxl: 1300px;
$desktophd: 1900px;